@font-face{
	font-family: MontsterratBold;
	src: url(../font/Montserrat-Bold.ttf);
}
@font-face{
	font-family: OpenSans;
	src:url(../font/pXijrO6B.ttf);
}
@font-face{
	font-family: 	MontsterratRegular;
	src:url(../font/Montserrat-Regular.ttf);
}