/*
*
* @file _setting.scss
* Setting for styling page
* - fonts
* - colors
* -
*/
$width_page:1440px;
$width_container: 940px;
$width_container_2: 1100px;
$header_background_color: #5ec2e7;
$i_create_background_color: #f4f4f4;
$ui_background_color: #34cf75;
$ux_background_color: #ededed;
$I_create_color: #333333;
$I_create_slider_button_color: #dbdbdb;
$portfolio_background_color: #fbfbfb;
$portfolio_bottom_border_color: #e3e3e3;
$skills_background_color: #f5f5f5;
$skills_color_in_circle: #666666;
$skills_color_skills_in_circle: #999999;
$skills_bottom_border_color: #e0e0e0;
$experience_background_color: #fbfbfb;
$quote_background_color: #ff605f;
$contact_background_color: #f6f6f6;
$contact_bottom_border_color: #e1e1e1;
$white: #ffffff;
$gray: #cccccc;
$form_border: #e7eaee;
$form_border_hover: #d6dce2;
$form_border_active: #88d3ff;
$send_background_color: #fd685b;
$facebook_bg: #375996;
$twitter_bg: #06a2ec;
$linkedin_bg: #2a9fd7;
$google_bg: #ef5b52;
$rss_bg: #f59530;
$footer_background_color: #363842;
$map_color: #2b96ad;
$footer_color: #545766;
$ui_height:200px;
$ui_width:200px;
$fontMB: MonsterratBold;
$fontMR: MonsterratRegular;
$fontOS: OpenSans;
$sizeMB_13: 13px;
$sizeMB_14: 14px;
$sizeMB_16: 16px;
$sizeMB_18: 18px;
$sizeMB_24: 24px;
$sizeMB_42: 42px;
$sizeMB_57: 57px;
$sizeMB_60: 60px;
$sizeMR_13: 13px;
$sizeMR_14: 14px;
$sizeMR_16: 16px;
$sizeMR_18: 18px;
$sizeMR_22: 22px;
$sizeMR_28: 28px;
$sizeOS_15: 15px;
$sizeOS_16: 16px;
$sizeOS_24: 24px;
$sizeOSI_16: 16px;
$sizeOSI_24: 24px;
$blue: #35afba;
$green: #34cf75;
